{% extends "base.html" %}
{% block title %}Agendamento{% endblock %}
{% block content %}
<table>
    <tr>
        <td>
            <h2>Agendamento</h2>
            <form action="{{ url_for('agendamento.criar_agendamento') }}" method="POST" autocomplete="off">
                <div>
                    <label>Cliente</label>
                    <div>
                        <select name="id_usuario" required>
                            {% for cliente, chave in clientes %}
                                <option value="{{ cliente.id_usuario }}">
                                    {{ fn_decript(chave.chave_privada, cliente.nome) }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <label>Serviço</label>
                    <div>
                        <select name="id_servico" required>
                            {% for servico in servicos %}
                                <option value="{{ servico.id_servico }}">{{ servico.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <label>Data</label>
                    <div>
                        <input type="date" name="dataAgenda" id="dataAgenda" required>
                    </div>

                    <label>Horário</label>
                    <div>
                        <input type="time" name="horarioAgenda" id="horarioAgenda" required>
                    </div>

                    <div class="form-action-buttons">
                        <input type="submit" value="Agendar">
                    </div>
                </div>
            </form>
        </td>
    </tr>
</table>
{% endblock %}