{% extends "base.html" %}
{% block title %}Perfil{% endblock %}
{% block content %}
<div class="container-fluid py-5 mt-4">
    <div class="row justify-content-center">
        <ul class="list-group">
            <li class="list-group-item">
                <h2 class="text-center align-middle my-2">Editar perfil</h2>
            </li>
            <li class="list-group-item">Nome: {{nome}}</li>
            <li class="list-group-item">CPF: {{cpf}}</li>
            <li class="list-group-item">Data de dascimento: {{data_nascimento}}</li>
            {% if telefone %}
            <li class="list-group-item">Telefone: {{telefone.numero}}</li>
            {% else %}
            <li class="list-group-item">Telefone: Adicionar telefone</li>
            {% endif %}
            {% if endereco %}
            <li class="list-group-item">Cep: {{endereco.cep}}</li>
            <li class="list-group-item">Numero: {{endereco.numero}}</li>
            <li class="list-group-item">Complemento: {{endereco.complemento}}</li>
            {% else %}
            <li class="list-group-item">Endereço: Adicionar endereço</li>
            {% endif %}
            <a href="{{ url_for('usuario.editar') }}">
                <button class="btn btn-primary btn-block" type="button" href>Editar Perfil</button>
            </a>
            {% if not user_is_funcionario %}
            <a href="{{ url_for('usuario.deletar') }}">
                <button class="btn btn-danger btn-block" type="button" href>Deletar Perfil</button>
            </a>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}