{% extends "base.html" %}
{% block title %}Perfil{% endblock %}
{% block content %}
<a href="{{ url_for('usuario.editar') }}"><button class="btn btn-primary btn-sm" type="button" href>Editar Perfil</button></a>
<h1>{{nome}}</h1>
<h1>{{cpf}}</h1>
<h1>{{data_nascimento}}</h1>
{% if telefone %}
<h1>{{telefone.numero}}</h1>
{% else %}
<h1>Adicionar telefone</h1>
{% endif %}
{% if endereco %}
<h1>{{endereco.cep}}</h1>
<h1>{{endereco.numero}}</h1>
<h1>{{endereco.complemento}}</h1>
{% else %}
<h1>Adicionar endereço</h1>
{% endif %}
{% endblock %}