{% extends "base.html" %}
{% block title %}Cadastro de serviços{% endblock %}
{% block content %}
<h2 class="subtitulo">Servicos</h2>
<form method="POST" action="/servicos/create" autocomplete="off">
    <label for="nome">Nome do Serviço</label>
    <input type="text" id="nomeServico" name="nomeServico" placeholder="Digite o nome do serviço">
    <label for="descricao">Descrição</label>
    <input type="text" id="descricao" name="descricao" placeholder="Descricao do serviço">
    <label for="preco">Preço</label>
    <input type="text" id="preco" name="preco" placeholder="R$00,00">
    <label for="duracao">Duração</label>
    <input type="time" id="duracao" name="duracao">

    <button type="submit">Registrar</button>
    <button type="reset">Cancelar</button>
</form>
{% endblock %}